@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="vieport" content="width=device-width"/>
        <title>Вечеринка</title>
    </head>
    <body>
        <div>
            Мы собираемся устроить вечеринку.
            <a asp-action="RsvpForm">RSVP Now</a>
        </div>
    </body>
</html>
