@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="vieport" content="width=device-width"/>
        <title>Форма</title>
    </head>
    <body>
        <form asp-action="RsvpForm" method="post">
            <div>
                <label asp-for="Name">Ваше имя: </label>
                <input asp-for="Name" />
            </div>
            <div>
                <label asp-for="Email">Ваша почта: </label>
                <input asp-for="Email" />
            </div>
            <div>
                <label asp-for="Phone">Ваш телефон: </label>
                <input asp-for="Phone" />
            </div>
            <div>
                <label>Вы прийдёте?</label>
                <select asp-for="WillAttend">
                    <option value="">Выберите вариант</option>
                    <option value="true">Да, я обязательно прийду!</option>
                    <option value="false">Нет, я не прийду!</option>
                </select>
            </div>
            <button type="submit">Отправить</button>
        </form>
    </body>
</html>
