@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="vieport" content="width=device-width"/>
        <title>Форма</title>
    </head>
    <body>
        <div>
            Это RsvpForm представление.
        </div>
    </body>
</html>
